# Logs y Debug
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencias y temporales
node_modules/
dist/
dist-ssr/
*.local

# Archivos del Editor (Mac/VSCode)
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo

# Ignorar código fuente en el servidor (Seguridad y Limpieza)
# Esto evitará que Hostinger se llene de archivos innecesarios
src/
public/

# Ignorar configuraciones que no necesita el navegador
package.json
package-lock.json
vite.config.js
tailwind.config.js
postcss.config.js
eslint.config.js
README.md
.gitignore