@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: #050505;
  color: white;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}